../ExtendedSpringUsers/HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### .backup directory ###
/.backup/.gitignore
/.backup/src/main/java/com/example/demo/Application.java
/.backup/src/main/resources/application.properties
/.backup/src/test/java/com/example/demo/ApplicationTests.java
/.backup/docker-compose.yml
/.backup/Dockerfile
/.backup/src/main/java/com/example/config/DotenvConfig.java
/.backup/com.example.eurekaserver.EurekaServerApplication.java
/.backup/src/main/java/com/example/security/jwt/JwtAuthenticationFilter.java
/.backup/src/main/java/com/example/security/jwt/JwtAuthenticationToken.java
/.backup/src/main/java/com/example/security/jwt/JwtService.java
/.backup/pom.xml
/.backup/src/main/java/com/example/config/SecurityConfig.java
/.backup/src/main/java/com/example/demo/Model/User.java
/.backup/src/main/java/com/example/demo/Controller/UserController.java
/.backup/src/main/java/com/example/demo/Repository/UserRepository.java
/.backup/src/main/java/com/example/demo/Service/UserService.java
/.backup/UserServiceApplication.java

### Environment ###
.env

### Spring Boot - local config
userapp/src/main/resources/application-local.properties

### Qodo files
.qodo
